<!DOCTYPE html>
<html ng-app="phonecatApp">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>PhoneCat</title>
	<link rel="stylesheet" href="/assets/css/uikit.min.css" type="text/css">
</head>
<body ng-controller="PhoneListController">

<div class="uk-container uk-margin-top">

	<ul class="uk-list uk-list-divider">
		<li ng-repeat="phone in phones">
			<span>{{phone.name}}</span>
			<p>{{phone.snippet}}</p>
		</li>
	</ul>

	<table>
		<tr><th>Row number</th></tr>
		<tr ng-repeat="i in [0, 1, 2, 3, 4, 5, 6, 7,]"><td>{{i}}</td></tr>
	</table>

</div><!-- /uk-container -->


<script src="/assets/js/jquery.js"></script>
<script src="/assets/js/uikit.js"></script>
<script src="/assets/js/angular.js"></script>
<script src="app.js"></script>
</body>
</html>
