<div class="uk-container uk-margin-small-top">
	<div uk-grid>
		<div class="uk-width-1-5">
			Search: <input type="text" ng-model="$ctrl.query">
			<p>Sort by:
				<select ng-model="$ctrl.orderProp">
					<option value="name">Alphabetical</option>	
					<option value="age">Newest</option>
				</select>
			</p>
		</div><!-- /uk-width-1-5 -->
		<div class="uk-width-4-5">
			<ul class="phones">
				<li ng-repeat="phone in $ctrl.phones | filter:$ctrl.query | orderBy: $ctrl.orderProp">
					<span>{{phone.name}}</span>
					<p>{{phone.snippet}}</p>
				</li>
			</ul>
		</div><!-- /uk-width-4-5 -->
		<p>{{$ctrl.query}}</p>
	</div>
</div><!-- /uk-container -->
